html,body
{
  height: 100%;
}

.container {
    height:100%;
}
.container-fluid{
    height:100%;
}
.column
{
    margin-top: 5px;
}
h3
{
    margin-top: 5px;
    font-family: 黑体;
}

.fill{
    width:100%;
    height:100%;
    min-height:100%;
    background-color:#990000;
    color:#efefef;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.fl{
    z-index: 2;
    
}

#btnclear
{
    margin-right: 0px;
    
}


#esrimap{
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    
}